<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.login_registernew">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Sunderland Carers Centre"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register" />
        <activity android:name=".UserArea" />
        <activity android:name=".CopingMechanisms" />
        <activity
            android:name=".takeTimePopUp"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".hobbyPopUp"
            android:label="@string/title_activity_hobby_pop_up"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".stayHealthyPopUp"
            android:label="@string/title_activity_stay_healthy_pop_up"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".financePopUp"
            android:label="@string/title_activity_finance_pop_up"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".getOrganisedPopUp"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".GamesArea"
            android:label="@string/title_activity_games_area"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".copingWebLinks"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".copingMechanismsInfo"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".GamesAreaInfo"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity android:name=".Recipes" />
        <activity
            android:name=".RecipesInformation"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".cookingTips"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".soupRecipe"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".stirfryRecipe"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".vegetablesRecipe"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".chickenRecipe"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".pastaRecipe"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".pizzaRecipe"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".stewRecipe"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".curryRecipe"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".potatoRecipe"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".breadRecipe"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".pieRecipe"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".chipsRecipe"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity android:name=".CalendarPage" />
        <activity android:name=".CalendarWindow" />
        <activity android:name=".CreateNewEvent" />
        <activity android:name=".carersCentre" />
        <activity
            android:name=".carersCentreContact"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity android:name=".parentsGuardians" />
        <activity android:name=".staffPage" />
        <activity
            android:name=".messagingRules"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity android:name=".extraInfo" />
        <activity android:name=".helpPage" />
        <activity
            android:name=".licensesPage"
            android:theme="@style/AppTheme.PopUpTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAvGOZAPFGo4X1f1JTazXWDf1lPQDP9KSo" />

        <activity
            android:name=".staffContact1"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".staffContact2"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".staffContact3"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".staffContact4"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".staffContact5"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".staffContact6"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".staffContact7"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".staffContact8"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".staffPhone"
            android:theme="@style/AppTheme.PopUpTheme"
            />
    </application>

</manifest>